{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <h1>Article 詳細</h1>

    <form action="{{ path('articles_edit', {id: article.id}) }}" method="get">
        <div>
            <label>
                Title
                <input type="text" name="title" value="{{ article.title }}" disabled>
            </label>
        </div>
        <div>
            <label>
                Body
                <input type="text" name="body" value="{{ article.body }}" disabled>
            </label>
        </div>
        <button class="waves-effect waves-light btn" type="submit">edit</button>
        <button class="waves-effect waves-light btn" type="submit" form="delete">delete</button>
    </form>

    <form id="delete" action="{{ path('articles_delete', {id: article.id}) }}" method="post">
        <input type='hidden' name='_method' value='DELETE'>

    </form>
{% endblock %}
